Qualysoft.Evaluation.Domain/XmlSerializedRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="CT_Requests" />

  <xs:complexType name="CT_Requests">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="request" type="CT_XSD_Request" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_XSD_Request">
    <xs:sequence>
      <xs:element name="ix" type="xs:integer" />
      <xs:element name="content" type="CT_XSD_Request_Content" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_XSD_Request_Content">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="visits" type="xs:int" />
      <xs:element name="dateRequested" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>